.hidden{
  display: none;
}

.thirdnode rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.thirdnode text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.viz3link {
  fill: none;
  stroke: gray;
  stroke-opacity: .5;
}


.forcelinks line {
  stroke-opacity: 0.8;
}

.forcenodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.forcenodes text {
  font: 11px sans-serif;
  pointer-events: None;
}


