.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #999;
}

.node--leaf circle {
  fill: none;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}


.active{
	opacity: 1;
}

.hidden{
	opacity:0;
}

.links line {
  stroke-opacity: 0.8;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodes text {
  font: 10px sans-serif;
  pointer-events: None;
}
